<div class="card card-w-title">
    <h1>Description about pacient:</h1>
      <br>
      <br>
      <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield">
                  <input type="text" pInputText value="Alexandru-Ion" readonly>
                  <label>First Name</label>
              </span>
          </div>
          <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield">
                  <input type="text" pInputText value="Benchea" readonly>
                  <label>Last Name</label>
              </span>
          </div>
          <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield">
                  <input type="text" pInputText value="0732626589" readonly>
                  <label>Phone</label>
              </span>
          </div>
      </div>
</div>

<div class="card card-w-title">
    <h1>Description about the problem:</h1>
    
    <p-fieldset>
        Mergeam pe strada si mi-am dat seama ca soarele e rotund, asa ca m-am prajit si am mers la maneloteca. ma doare burta la cat am baut. help. lmao
    </p-fieldset>
</div>

<p-gmap [overlays]="overlays" [options]="options" [style]="{'width':'100%','height':'320px'}"></p-gmap>
<br>
<h1>Diagnosis:</h1>
<br>
<p-editor [(ngModel)]="text" [style]="{'height':'320px'}"></p-editor>
<br>
<h2 style="text-align: center">Review for pacient:</h2>
<p-rating [(ngModel)]="val" [cancel]="false" style="text-align: center; size:25px"></p-rating>
<input style="width: 100%" type="text" pInputText />

<br>
<br>

<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-4">
        <div class="overview-box overview-box-2">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">call</i></div>
                <div class="overview-box-title">Make a call</div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div (click)="sendDiagnosis()" class="overview-box overview-box-1">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">check</i></div>
                <div  class="overview-box-title">Finish Diagnosis</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="overview-box overview-box-3">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">message</i></div>
                <div class="overview-box-title">Send a Message</div>
            </div>
        </div>
    </div>
</div>




