<div *ngIf="dataLoaded">
    <p-fieldset legend="Intervention info" [toggleable]="true">
            <p>Status: {{order.status}}</p>
        
            <h4>Problema:</h4>
            <div class="card">
                {{order.description}}
            </div>
                
            <ng-template *ngIf="order.status == 'Completed'">
                <h4>Diagnostic:</h4>
                <div class="card">
                    {{order.diagnosis}}
                </div>
            </ng-template>
    </p-fieldset> 

    <div *ngIf="order.status == 'Accepted'">
        <p-gmap [overlays]="overlays" [options]="options" [style]="{'width':'100%','height':'320px'}"></p-gmap>
    </div>
</div>
