<div *ngIf="dataLoaded">
    <p-fieldset legend="Intervention info" [toggleable]="true">
            <h4>Status: </h4>

            <div class="card" *ngIf="order.status == 'Completed'" style="color:white; background-color: green">
                {{order.status}}
            </div>

            <div class="card" *ngIf="order.status == 'Pending'" style="color:white; background-color: orangered">
                {{order.status}}
            </div>

            <div class="card" *ngIf="order.status == 'Accepted'" style="color:white; background-color: rgb(0, 182, 182)">
                {{order.status}}
            </div>
            
            <h4>Problema:</h4>
            <div class="card">
                {{order.description}}
            </div>
                
            <div *ngIf="order.status == 'Completed'">
                <h4>Diagnostic:</h4>
                <div class="card" [innerHTML]='order.diagnosis'>
                </div>
            </div>
    </p-fieldset> 

    <div *ngIf="order.status == 'Accepted' && locationEnabled">
        <p-gmap [overlays]="overlays" [options]="options" [style]="{'width':'100%','height':'320px'}"></p-gmap>
    </div>
    
    <div *ngIf="order.status == 'Completed' && !order.rating">
        <p-fieldset legend="Review" [toggleable]="true">
            <h2 style="text-align: center">Review for doctor:</h2>
            <p-rating [(ngModel)]="reviewVal" [cancel]="false" style="text-align: center; size:25px"></p-rating>
            <input [(ngModel)]="reviewText" style="width: 100%" type="text" pInputText />
            <br>
            <button style = "margin-top:10px" (click)="sendReview()" pButton type="button" label="Click" ></button>
        </p-fieldset>
    </div>

    <br>
    <br>
    <p-card *ngIf="order.rating" header="Rating">
        <p-rating [(ngModel)]="order.rating" readonly="true" [cancel]= "false" style="text-align: center; size:25px"></p-rating>
        <p>{{order.rating_description}} </p>
    </p-card>
</div>
