<div class="login-body" style="height: 100vh">
  <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="../../../assets/layout/images/logo-slim.png">
        </div>
        <div class="login-panel-content">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h1>Sign-in to Duc2Go</h1>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input [(ngModel)]="email" type="text" autocomplete="off" class="ui-inputtext ui-corner-all ui-widget">
                        <label>Email</label>
                    </span>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input [(ngModel)]="password" type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-widget">
                        <label>Password</label>
                    </span>
                </div>
                <div class="ui-g-12">
                    <button (click)="handleLogin()" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left">
                        <span class="ui-button-icon-left fa ui-icon-person"></span>
                        <span class="ui-button-text">Sign In</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>