@import './common';

$headerPadding:.625em 1em;
$headerFontSize:1em;

$contentPadding:.625em 1em;
$contentBorderColor:#d8d8d8;
$contentBgColor:#ffffff;

$inputBorderColor:#bdbdbd;
$inputFontSize:1em;
$inputHeaderFontSize:1em;
$inputOptionFontSize:1em;
$inputHeaderPadding:.625em 1em;
$invalidInputLabelColor:#e62a10;
$invalidInputBorderColor:#e62a10;
$inputGroupAddonBgColor:#e6e6e6;
$textboxBgColor:#f7f7f7;

$buttonFontSize:1em;

$listItemPadding:.625em 1em;

$radioButtonBorderColor:#757575;
$checkboxBorderColor:#757575;

$dataTableBorderColor:#cacaca;
$tableRowBgColorOdd:#f4f4f4;
$dataTableRowBgColorEven:#f4f4f4;

$inlineSpacing:.5em;
