<div class="layout-topbar">

    <a routerLink="/" *ngIf="app.isHorizontal() && !app.isMobile()" class="topbar-logo">
        <img alt="logo" src="assets/layout/images/logo-slim.png" />
        <span class="app-name">SmartSchool</span>
    </a>

    <img alt="logo" src="assets/layout/images/logo-slim.png" class="mobile-logo"/>

    <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="material-icons">&#xE5D2;</i>
    </a>

    <a href="#" class="topbar-menu-btn" (click)="app.onTopbarMobileMenuButtonClick($event)">
        <i class="material-icons">&#xE853;</i>
    </a>
</div>
