<div class="layout-breadcrumb">
        <ul>
            <li><a routerLink=""></a></li>
            <ng-template ngFor let-item let-last="last" [ngForOf]="items">
                <li>
                    <a [routerLink]="item.routerLink" *ngIf="item.routerLink">{{item.label}}</a>
                    <ng-container *ngIf="!item.routerLink">{{item.label}}</ng-container>
                </li>
                
            </ng-template>
        </ul>
        
        <div class="layout-breadcrumb-options">
            
        </div>
    </div>