<div class="landing-body">
        <div class="landing-wrapper">
            <div style="background-color: white;" id="header">
                <div>
                    <img src="../../assets/layout/images/logo-colored.png" class="logo"/>
                    <a id="landing-menu-button" href="#">
                        <i class="material-icons">menu</i>
                    </a>

                    <ul id="landing-menu">
                        <li>
                            <a href="#home">HOME</a>
                        </li>
                        <li>
                            <a href="#features">FEATURES</a>
                        </li>
                        <li>
                            <a href="#pricing">PRICING</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="introduction">
                <div>
                    <h1>Don't be afraid to talk to doctors</h1>
                    <p>A modern approach to talking to medics. Never leave something untreated</p>
                    <button routerLink="/login" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only pink-btn">
                        <span class="ui-button-text">LEARN MORE</span>
                    </button>
                </div>
            </div>

            <div class="ui-g" style = "padding-top: 50px">
                <div class="ui-g-12 ui-md-6">
                    <p-chart type="doughnut" [data]="data1"></p-chart>
                    <h2 style="text-align: center">Procentage of Gross domestic product</h2>
                </div>
                <div class="ui-g-12 ui-md-6">
                        <p-chart type="polarArea" [data]="data2"></p-chart>
                    <h2 style="text-align: center">Procentage of less selfiest man in Romania</h2>
                </div>
                <br>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6">
                    <p-chart type="pie" [data]="data3"></p-chart>
                    <h2 style="text-align: center">Procentage of Gross domestic product</h2>
                </div>
                <div class="ui-g-12 ui-md-6">
                        <p-chart type="bar" [data]="data4"></p-chart>
                    <h2 style="text-align: center">Procentage of less selfiest man in Romania</h2>
                </div>
                <br>
            </div>



            
        </div>
       </div>