<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-8">
        <!-- Left Side -->
        <div class="card card-w-title">
            <h1>Call for help</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input [(ngModel)]="description" type="text" pInputText>
                        <label>Short description</label>
                    </span>
                </div>
                
                <div>
                  <button (click)="handleClick()" pButton label="Send" class="ui-button-danger"></button>
                </div>

            </div>

            
        </div>
    </div>
</div>